In [28]:
import pandas as pd
import gc

In [29]:
sub_p = pd.read_pickle('../data/submit/simple_fe_submission.pkl')

In [30]:
def postprocessing(id_sub:pd.DataFrame):

    all_list = []
    for id,data in id_sub.groupby('id'):
        data_list = [id]
        data_list += [t for t in data['']]
        all_list.append(data_list)
    sub = pd.DataFrame(all_list)

    col_name = ['id']
    col_name += ['F'+str(i+1) for i in range(28)]
    sub.columns = col_name

    # sort
    sample_sub = pd.read_csv('../data/submit/sample_submission.csv.zip')
    l_order = list(sample_sub['id'].values)
    sub['order'] = sub['id'].apply(lambda x: l_order.index(x) if x in l_order else -1)
    sub = sub.sort_values('order').reset_index(drop=True).drop('order',axis=1)

    del sample_sub
    gc.collect()

    return sub

In [31]:
sub = postprocessing(sub_p)

In [32]:
sub = sub.fillna(0)

In [33]:
sub.head()

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
0,HOBBIES_1_001_CA_1_validation,0.812059,0.107720,0.454978,1.623761,1.106642,0.647518,0.291698,7.145404,0.835287,...,8.231224,0.167804,0.438934,0.387555,1.145218,0.133417,0.537536,0.197305,0.322295,0.618666
1,HOBBIES_1_002_CA_1_validation,1.342265,5.353836,0.198042,2.553005,0.135714,0.469255,0.195745,0.887811,0.569475,...,1.157407,14.113565,0.403875,1.716452,0.135714,0.165507,0.273282,0.083624,1.907558,1.235674
2,HOBBIES_1_003_CA_1_validation,0.501503,0.357653,0.378431,0.067158,0.151363,0.127649,1.544360,0.062673,0.673622,...,0.458831,1.337138,0.493350,0.889529,0.625265,0.084641,0.649361,1.111006,1.192435,0.940360
3,HOBBIES_1_004_CA_1_validation,0.195722,0.380877,1.687550,4.416521,1.721575,0.059359,0.197305,0.042517,0.010837,...,0.198322,0.813215,0.585006,0.151083,0.354339,0.180353,0.153660,0.062673,0.422231,0.719400
4,HOBBIES_1_005_CA_1_validation,0.086938,0.290021,0.784958,0.702602,0.480100,2.378637,0.726389,0.976067,0.465941,...,0.227706,0.060376,1.010761,0.079629,0.766103,0.662945,1.622970,0.992103,0.151363,0.749946

In [34]:
f_col = ['F'+str(i+1) for i in range(28)]

In [43]:
all_sub = pd.DataFrame(sub.sum())

In [44]:
all_sub

                                                     0
id   HOBBIES_1_001_CA_1_validationHOBBIES_1_002_CA_...
F1                                             23537.7
F2                                             22665.9
F3                                             23535.7
F4                                             22723.7
F5                                             23492.7
F6                                             22776.4
F7                                               23436
F8                                             22957.1
F9                                             23488.1
F10                                            22817.9
F11                                            23566.7
F12                                            22756.2
F13                                            23453.4
F14                                            22713.1
F15                                            23513.2
F16                                            22771.1
F17                                            23549.7
F18                                            22819.9
F19                                            23532.1
F20                                            22778.3
F21                                            23504.3
F22                                            22653.2
F23                                            23586.1
F24                                            22742.8
F25                                            23539.4
F26                                            22747.1
F27                                            23529.4
F28                                            22715.5

In [16]:
sample_sub = pd.read_csv('../data/submit/sample_submission.csv.zip')

In [20]:
sample_sub.tail()

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
60975,FOODS_3_823_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60976,FOODS_3_824_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60977,FOODS_3_825_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60978,FOODS_3_826_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60979,FOODS_3_827_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0