In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 500)

In [2]:
train = pd.read_csv('../data/input/fe_train.csv.zip')

In [3]:
train['date'] = pd.to_datetime(train['date'])

In [4]:
train.head()

,id,item_id,dept_id,cat_id,store_id,state_id,demand,part,date,wm_yr_wk,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price,lag_t28,lag_t29,lag_t30,rolling_mean_t7,rolling_std_t7,rolling_mean_t30,rolling_mean_t90,rolling_mean_t180,rolling_std_t30,rolling_skew_t30,rolling_kurt_t30,price_change_t1,price_change_t365,rolling_price_std_t7,rolling_price_std_t30,year,month,week,day,dayofweek
0,HOUSEHOLD_1_514_WI_3_validation,2506,5,2,9,2,16,train,2013-07-18,11325,30,4,2,2,0,0,0,3.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013,7,29,18,3
1,HOUSEHOLD_1_515_WI_3_validation,2507,5,2,9,2,1,train,2013-07-18,11325,30,4,2,2,0,0,0,2.47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013,7,29,18,3
2,HOUSEHOLD_1_516_WI_3_validation,2508,5,2,9,2,1,train,2013-07-18,11325,30,4,2,2,0,0,0,1.98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013,7,29,18,3
3,HOUSEHOLD_1_517_WI_3_validation,2509,5,2,9,2,1,train,2013-07-18,11325,30,4,2,2,0,0,0,0.98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013,7,29,18,3
4,HOUSEHOLD_1_518_WI_3_validation,2510,5,2,9,2,0,train,2013-07-18,11325,30,4,2,2,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013,7,29,18,3

In [9]:
max_date = train['date'].max()
val_date = max_date - np.timedelta64(1,'Y') - np.timedelta64(1,'M')

In [14]:
train_1y = train[train['date'] >= val_date]

In [16]:
len(train_1y)

12074040

In [22]:
train_1y_c = train_1y[~ ((train_1y['month'] == 12) & (train_1y['day'] == 25) )]

In [23]:
train_1y_c['month'].unique()

array([ 3,  4,  5,  6,  7,  8,  9, 10, 11, 12,  1,  2])

In [24]:
len(train_1y_c)

12043550

In [27]:
train_1y_c = train_1y_c.reset_index(drop=True)

In [28]:
train_1y_c.head()

,id,item_id,dept_id,cat_id,store_id,state_id,demand,part,date,wm_yr_wk,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price,lag_t28,lag_t29,lag_t30,rolling_mean_t7,rolling_std_t7,rolling_mean_t30,rolling_mean_t90,rolling_mean_t180,rolling_std_t30,rolling_skew_t30,rolling_kurt_t30,price_change_t1,price_change_t365,rolling_price_std_t7,rolling_price_std_t30,year,month,week,day,dayofweek
0,HOBBIES_1_001_CA_1_validation,1437,3,1,0,0,0,train,2015-03-26,11508,30,4,2,2,0,0,0,8.26,2.0,0.0,1.0,0.714286,0.755929,0.666667,0.688889,0.666667,0.994236,1.420145,0.955613,0.0,0.0000,6.000000e-08,0.0,2015,3,13,26,3
1,HOBBIES_1_002_CA_1_validation,1438,3,1,0,0,0,train,2015-03-26,11508,30,4,2,2,0,0,0,3.97,0.0,0.0,0.0,0.000000,0.000000,0.100000,0.300000,0.316667,0.305129,2.809120,6.308054,0.0,0.0000,0.000000e+00,0.0,2015,3,13,26,3
2,HOBBIES_1_003_CA_1_validation,1439,3,1,0,0,0,train,2015-03-26,11508,30,4,2,2,0,0,0,2.97,0.0,0.0,0.0,0.571429,1.133893,0.300000,0.222222,0.161111,0.651259,2.824870,9.577853,0.0,0.0000,0.000000e+00,0.0,2015,3,13,26,3
3,HOBBIES_1_004_CA_1_validation,1440,3,1,0,0,4,train,2015-03-26,11508,30,4,2,2,0,0,0,4.64,1.0,0.0,0.0,2.428571,4.276180,2.366667,2.466667,2.383333,2.976730,2.046232,3.929555,0.0,0.0000,0.000000e+00,0.0,2015,3,13,26,3
4,HOBBIES_1_005_CA_1_validation,1441,3,1,0,0,0,train,2015-03-26,11508,30,4,2,2,0,0,0,2.88,0.0,0.0,0.0,1.000000,1.414214,1.233333,1.211111,1.150000,1.330889,1.420910,1.523538,0.0,0.0647,0.000000e+00,0.0,2015,3,13,26,3

In [29]:
train_1y_c.to_pickle('../data/input/train_1y.pkl')