In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../data/other/kernel_predata.csv.zip')

In [3]:
data.head()

,id,item_id,dept_id,cat_id,store_id,state_id,demand,part,date,wm_yr_wk,...,rolling_kurt_t30,price_change_t1,price_change_t365,rolling_price_std_t7,rolling_price_std_t30,year,month,week,day,dayofweek
0,HOUSEHOLD_1_514_WI_3_validation,2506,5,2,9,2,16,train,2013-07-18,11325,...,NaN,NaN,NaN,NaN,NaN,2013,7,29,18,3
1,HOUSEHOLD_1_515_WI_3_validation,2507,5,2,9,2,1,train,2013-07-18,11325,...,NaN,NaN,NaN,NaN,NaN,2013,7,29,18,3
2,HOUSEHOLD_1_516_WI_3_validation,2508,5,2,9,2,1,train,2013-07-18,11325,...,NaN,NaN,NaN,NaN,NaN,2013,7,29,18,3
3,HOUSEHOLD_1_517_WI_3_validation,2509,5,2,9,2,1,train,2013-07-18,11325,...,NaN,NaN,NaN,NaN,NaN,2013,7,29,18,3
4,HOUSEHOLD_1_518_WI_3_validation,2510,5,2,9,2,0,train,2013-07-18,11325,...,NaN,NaN,NaN,NaN,NaN,2013,7,29,18,3

In [7]:
test = data[(data['date'] > '2016-04-24')]

In [9]:
train = data[(data['date'] <= '2016-04-24')]

In [10]:
test.to_pickle('../data/fe_test.pkl')

In [11]:
train.to_csv('../data/fe_train.csv.zip',index=False,compression='zip')

In [4]:
features = ['item_id', 'dept_id', 'cat_id', 'store_id', 'state_id', 'year', 'month', 'week', 'day', 'dayofweek', 'event_name_1', 'event_type_1', 'event_name_2', 'event_type_2', 
            'snap_CA', 'snap_TX', 'snap_WI', 'sell_price', 'lag_t28', 'lag_t29', 'lag_t30', 'rolling_mean_t7', 'rolling_std_t7', 'rolling_mean_t30', 'rolling_mean_t90', 
            'rolling_mean_t180', 'rolling_std_t30', 'price_change_t1', 'price_change_t365', 'rolling_price_std_t7', 'rolling_price_std_t30', 'rolling_skew_t30', 'rolling_kurt_t30']

In [5]:
data[features]

,item_id,dept_id,cat_id,store_id,state_id,year,month,week,day,dayofweek,...,rolling_mean_t30,rolling_mean_t90,rolling_mean_t180,rolling_std_t30,price_change_t1,price_change_t365,rolling_price_std_t7,rolling_price_std_t30,rolling_skew_t30,rolling_kurt_t30
0,2506,5,2,9,2,2013,7,29,18,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2507,5,2,9,2,2013,7,29,18,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2508,5,2,9,2,2013,7,29,18,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2509,5,2,9,2,2013,7,29,18,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2510,5,2,9,2,2013,7,29,18,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31681085,1432,2,0,9,2,2016,5,20,22,6,...,0.200000,0.433333,0.616667,0.550861,0.0,0.0,0.0,0.0,2.758372,6.731192
31681086,1433,2,0,9,2,2016,5,20,22,6,...,0.300000,0.100000,0.050000,0.534983,0.0,0.0,0.0,0.0,1.621490,1.950452
31681087,1434,2,0,9,2,2016,5,20,22,6,...,0.866667,0.900000,0.761111,1.136642,0.0,0.0,0.0,0.0,1.485839,1.986668
31681088,1435,2,0,9,2,2016,5,20,22,6,...,1.066667,1.022222,1.338889,1.172481,0.0,0.0,0.0,0.0,0.963120,-0.021316
31681089,1436,2,0,9,2,2016,5,20,22,6,...,1.166667,1.566667,1.511111,1.821014,0.0,0.0,0.0,0.0,1.681152,2.517528