In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df = pd.read_csv('../data/sales_train_validation.csv.zip')

In [4]:
cal = pd.read_csv('../data/calendar.csv')
sell = pd.read_csv('../data/sell_prices.csv.zip')

In [5]:
df.shape[0] * 1913

58327370

In [6]:
d_col = []
for d in range(1,1914,1):
    d_col.append('d_'+str(d))
target = []
for d in df[d_col].values:
    for tar in d:
        target.append(tar)

In [7]:
n_df = pd.DataFrame()
n_df['target'] = target

In [8]:
id_list = []
d_list = []
item_list = []
dept_list = []
cat_list = []
store_list = []
state_list = []

for id in df['id']:
    id_list += [id for _ in range(len(d_col))]
    d_list += [d for d in d_col]

for item in df['item_id']:
    item_list += [item for _ in range(len(d_col))]

for dept in df['dept_id']:
    dept_list += [dept for _ in range(len(d_col))]

for cat in df['cat_id']:
    cat_list += [cat for _ in range(len(d_col))]

for store in df['store_id']:
    store_list += [store for _ in range(len(d_col))]

for state in df['state_id']:
    state_list += [state for _ in range(len(d_col))]

In [9]:
n_df['d'] = d_list
n_df['id'] = id_list
n_df['item_id'] = item_list
n_df['dept_id'] = dept_list
n_df['cat_id'] = cat_list
n_df['store_id'] = store_list
n_df['state_id'] = state_list

In [10]:
# n_df.to_pickle('../data/reshape_train_val.pkl')

In [11]:
cal.head()

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,2011-01-29,11101,Saturday,1,1,2011,d_1,NaN,NaN,NaN,NaN,0,0,0
1,2011-01-30,11101,Sunday,2,1,2011,d_2,NaN,NaN,NaN,NaN,0,0,0
2,2011-01-31,11101,Monday,3,1,2011,d_3,NaN,NaN,NaN,NaN,0,0,0
3,2011-02-01,11101,Tuesday,4,2,2011,d_4,NaN,NaN,NaN,NaN,1,1,0
4,2011-02-02,11101,Wednesday,5,2,2011,d_5,NaN,NaN,NaN,NaN,1,0,1

In [12]:
cal_n_df = pd.merge(n_df,cal,on='d',how='left')

In [13]:
cal_n_df.head()

,target,d,id,item_id,dept_id,cat_id,store_id,state_id,date,wm_yr_wk,...,wday,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,0,d_1,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,2011-01-29,11101,...,1,1,2011,NaN,NaN,NaN,NaN,0,0,0
1,0,d_2,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,2011-01-30,11101,...,2,1,2011,NaN,NaN,NaN,NaN,0,0,0
2,0,d_3,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,2011-01-31,11101,...,3,1,2011,NaN,NaN,NaN,NaN,0,0,0
3,0,d_4,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,2011-02-01,11101,...,4,2,2011,NaN,NaN,NaN,NaN,1,1,0
4,0,d_5,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,2011-02-02,11101,...,5,2,2011,NaN,NaN,NaN,NaN,1,0,1

In [14]:
sell.shape

(6841121, 4)

In [15]:
sell_cal_n_df = pd.merge(cal_n_df,sell,on=['store_id','item_id','wm_yr_wk'],how='left')

In [16]:
sell_cal_n_df.head()

,target,d,id,item_id,dept_id,cat_id,store_id,state_id,date,wm_yr_wk,...,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price
0,0,d_1,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,2011-01-29,11101,...,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN
1,0,d_2,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,2011-01-30,11101,...,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN
2,0,d_3,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,2011-01-31,11101,...,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN
3,0,d_4,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,2011-02-01,11101,...,2,2011,NaN,NaN,NaN,NaN,1,1,0,NaN
4,0,d_5,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,2011-02-02,11101,...,2,2011,NaN,NaN,NaN,NaN,1,0,1,NaN

In [19]:
def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2    
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)    
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

In [20]:
sell_cal_n_df = reduce_mem_usage(sell_cal_n_df)

Mem. usage decreased to 6953.16 Mb (32.1% reduction)

In [21]:
# sell_cal_n_df.to_pickle('../data/all_train_val.pkl')
sell_cal_n_df.to_csv('../data/all_train_val.csv', index=False)

In [25]:
sell_cal_n_df.to_csv('../data/all_train_val.csv.gz', index=False, compression='gzip')

In [26]:
sell_cal_n_df.to_pickle('../data/all_train_val.pkl')

In [27]:
sell_cal_n_df.head()

,target,d,id,item_id,dept_id,cat_id,store_id,state_id,date,wm_yr_wk,...,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price
0,0,d_1,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,2011-01-29,11101,...,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN
1,0,d_2,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,2011-01-30,11101,...,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN
2,0,d_3,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,2011-01-31,11101,...,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN
3,0,d_4,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,2011-02-01,11101,...,2,2011,NaN,NaN,NaN,NaN,1,1,0,NaN
4,0,d_5,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,2011-02-02,11101,...,2,2011,NaN,NaN,NaN,NaN,1,0,1,NaN

In [28]:
sub = pd.read_csv('../data/sample_submission.csv.zip')

In [32]:
# cal['d']

In [33]:
sub.head()

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
0,HOBBIES_1_001_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,HOBBIES_1_002_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,HOBBIES_1_003_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,HOBBIES_1_004_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,HOBBIES_1_005_CA_1_validation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
df.shape

(30490, 1919)

In [39]:
test = sub[sub['id'].isin(df['id'].unique())]

In [42]:
test_day = ['d_'+str(i) for i in range(1914,1942,1)]

In [48]:
t_id_list = []
test_day_list = []

for id in df['id']:
    t_id_list += [id for _ in range(len(test_day))]
    test_day_list += [d for d in test_day]

In [49]:
df_test = pd.DataFrame()
df_test['id'] = t_id_list
df_test['d'] = test_day_list

In [50]:
df_test.head()

                              id       d
0  HOBBIES_1_001_CA_1_validation  d_1914
1  HOBBIES_1_001_CA_1_validation  d_1915
2  HOBBIES_1_001_CA_1_validation  d_1916
3  HOBBIES_1_001_CA_1_validation  d_1917
4  HOBBIES_1_001_CA_1_validation  d_1918

In [51]:
cal_df_test = pd.merge(df_test,cal,on='d',how='left')

In [53]:
cal_df_test.head()

,id,d,date,wm_yr_wk,weekday,wday,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,HOBBIES_1_001_CA_1_validation,d_1914,2016-04-25,11613,Monday,3,4,2016,NaN,NaN,NaN,NaN,0,0,0
1,HOBBIES_1_001_CA_1_validation,d_1915,2016-04-26,11613,Tuesday,4,4,2016,NaN,NaN,NaN,NaN,0,0,0
2,HOBBIES_1_001_CA_1_validation,d_1916,2016-04-27,11613,Wednesday,5,4,2016,NaN,NaN,NaN,NaN,0,0,0
3,HOBBIES_1_001_CA_1_validation,d_1917,2016-04-28,11613,Thursday,6,4,2016,NaN,NaN,NaN,NaN,0,0,0
4,HOBBIES_1_001_CA_1_validation,d_1918,2016-04-29,11613,Friday,7,4,2016,NaN,NaN,NaN,NaN,0,0,0

In [55]:
sell.head()

  store_id        item_id  wm_yr_wk  sell_price
0     CA_1  HOBBIES_1_001     11325        9.58
1     CA_1  HOBBIES_1_001     11326        9.58
2     CA_1  HOBBIES_1_001     11327        8.26
3     CA_1  HOBBIES_1_001     11328        8.26
4     CA_1  HOBBIES_1_001     11329        8.26

In [58]:
m_df = df[['id','item_id','dept_id','cat_id','store_id','state_id']]

In [59]:
m_cal_df_test = pd.merge(cal_df_test,m_df,on='id',how='left')

In [61]:
sell_m_cal_df_test = pd.merge(m_cal_df_test,sell,on=['store_id','item_id','wm_yr_wk'],how='left')

In [63]:
sell_m_cal_df_test.shape

(853720, 21)

In [64]:
sell_m_cal_df_test = reduce_mem_usage(sell_m_cal_df_test)

Mem. usage decreased to 100.14 Mb (30.1% reduction)

In [65]:
sell_m_cal_df_test.to_csv('../data/test.csv', index=False)

In [66]:
sell_m_cal_df_test.to_csv('../data/test.csv.gz', index=False, compression='gzip')

In [67]:
sell_m_cal_df_test.to_pickle('../data/test.pkl')

In [68]:
sell_m_cal_df_test.head()

,id,d,date,wm_yr_wk,weekday,wday,month,year,event_name_1,event_type_1,...,event_type_2,snap_CA,snap_TX,snap_WI,item_id,dept_id,cat_id,store_id,state_id,sell_price
0,HOBBIES_1_001_CA_1_validation,d_1914,2016-04-25,11613,Monday,3,4,2016,NaN,NaN,...,NaN,0,0,0,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,8.382812
1,HOBBIES_1_001_CA_1_validation,d_1915,2016-04-26,11613,Tuesday,4,4,2016,NaN,NaN,...,NaN,0,0,0,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,8.382812
2,HOBBIES_1_001_CA_1_validation,d_1916,2016-04-27,11613,Wednesday,5,4,2016,NaN,NaN,...,NaN,0,0,0,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,8.382812
3,HOBBIES_1_001_CA_1_validation,d_1917,2016-04-28,11613,Thursday,6,4,2016,NaN,NaN,...,NaN,0,0,0,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,8.382812
4,HOBBIES_1_001_CA_1_validation,d_1918,2016-04-29,11613,Friday,7,4,2016,NaN,NaN,...,NaN,0,0,0,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,8.382812

In [81]:
cat_col = []
for col in sell_m_cal_df_test.columns:
    if (sell_m_cal_df_test[col].dtype == object):
        cat_col.append(col)

In [86]:
pd.set_option('display.max_columns',300)

In [154]:
from sklearn import preprocessing
l_test = sell_m_cal_df_test.copy()
for column in cat_col:
    le = preprocessing.LabelEncoder()
    null_index = l_test[l_test[column].isnull()].index
    drop_ltest = l_test[column].dropna()
    le.fit(drop_ltest)
    l_drop_ltest = le.transform(drop_ltest)
    
    null_data = []
    i = 0
    for index in l_test[column].index:
        if index in null_index:
            null_data.append(np.nan)
        else:
            null_data.append(l_drop_ltest[i])
            i += 1

    l_test[column] = null_data

In [156]:
l_test.head()

,id,d,date,wm_yr_wk,weekday,wday,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,item_id,dept_id,cat_id,store_id,state_id,sell_price
0,14370,0,0,11613,1,3,4,2016,NaN,NaN,NaN,NaN,0,0,0,1437,3,1,0,0,8.382812
1,14370,1,1,11613,5,4,4,2016,NaN,NaN,NaN,NaN,0,0,0,1437,3,1,0,0,8.382812
2,14370,2,2,11613,6,5,4,2016,NaN,NaN,NaN,NaN,0,0,0,1437,3,1,0,0,8.382812
3,14370,3,3,11613,4,6,4,2016,NaN,NaN,NaN,NaN,0,0,0,1437,3,1,0,0,8.382812
4,14370,4,4,11613,0,7,4,2016,NaN,NaN,NaN,NaN,0,0,0,1437,3,1,0,0,8.382812

In [160]:
l_train = sell_cal_n_df.copy()
for column in cat_col:
    le = preprocessing.LabelEncoder()
    null_index = l_train[l_train[column].isnull()].index
    drop_ltrain = l_train[column].dropna()
    le.fit(drop_ltrain)
    l_drop_ltrain = le.transform(drop_ltrain)
    
    null_data = []
    i = 0
    for index in l_train[column].index:
        if index in null_index:
            null_data.append(np.nan)
        else:
            null_data.append(l_drop_ltrain[i])
            i += 1

    l_train[column] = null_data

In [1]:
l_train.head()

NameError: name 'l_train' is not defined