In [13]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import gc
pd.set_option('display.max_columns',100)

In [2]:
train = pd.read_pickle('../data/all_train_val.pkl')

In [3]:
test = pd.read_pickle('../data/test.pkl')

In [4]:
train.head()

,target,d,id,item_id,dept_id,cat_id,store_id,state_id,date,wm_yr_wk,weekday,wday,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price
0,0,d_1,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,2011-01-29,11101,Saturday,1,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN
1,0,d_2,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,2011-01-30,11101,Sunday,2,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN
2,0,d_3,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,2011-01-31,11101,Monday,3,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN
3,0,d_4,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,2011-02-01,11101,Tuesday,4,2,2011,NaN,NaN,NaN,NaN,1,1,0,NaN
4,0,d_5,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,2011-02-02,11101,Wednesday,5,2,2011,NaN,NaN,NaN,NaN,1,0,1,NaN

In [5]:
test.head()

,id,d,date,wm_yr_wk,weekday,wday,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,item_id,dept_id,cat_id,store_id,state_id,sell_price
0,HOBBIES_1_001_CA_1_validation,d_1914,2016-04-25,11613,Monday,3,4,2016,NaN,NaN,NaN,NaN,0,0,0,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,8.382812
1,HOBBIES_1_001_CA_1_validation,d_1915,2016-04-26,11613,Tuesday,4,4,2016,NaN,NaN,NaN,NaN,0,0,0,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,8.382812
2,HOBBIES_1_001_CA_1_validation,d_1916,2016-04-27,11613,Wednesday,5,4,2016,NaN,NaN,NaN,NaN,0,0,0,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,8.382812
3,HOBBIES_1_001_CA_1_validation,d_1917,2016-04-28,11613,Thursday,6,4,2016,NaN,NaN,NaN,NaN,0,0,0,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,8.382812
4,HOBBIES_1_001_CA_1_validation,d_1918,2016-04-29,11613,Friday,7,4,2016,NaN,NaN,NaN,NaN,0,0,0,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,8.382812

In [10]:
drop_col = ['d','weekday']
train = train.drop(drop_col,axis=1)
test = test.drop(drop_col,axis=1)

In [12]:
cat_col = []
for col in test.columns:
    if test[col].dtype == object:
        cat_col.append(col)

In [14]:
def encode_LE(col,train=train,test=test,verbose=True):
    df_comb = pd.concat([train[col],test[col]],axis=0)
    df_comb,_ = df_comb.factorize(sort=True)
    nm = col
    if df_comb.max()>32000: 
        train[nm] = df_comb[:len(train)].astype('int32')
        test[nm] = df_comb[len(train):].astype('int32')
    else:
        train[nm] = df_comb[:len(train)].astype('int16')
        test[nm] = df_comb[len(train):].astype('int16')
    del df_comb
    gc.collect()

In [15]:
for col in cat_col:
    encode_LE(col)

In [17]:
null_col = ['event_name_1','event_type_1','event_name_2','event_type_2']
for col in null_col:
    train[col] = train[col].replace(-1,np.nan)

In [19]:
null_col = ['event_name_1','event_type_1','event_name_2','event_type_2']
for col in null_col:
    test[col] = test[col].replace(-1,np.nan)

In [18]:
train.head()

,target,id,item_id,dept_id,cat_id,store_id,state_id,date,wm_yr_wk,wday,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price
0,0,14370,1437,3,1,0,0,0,11101,1,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN
1,0,14370,1437,3,1,0,0,1,11101,2,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN
2,0,14370,1437,3,1,0,0,2,11101,3,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN
3,0,14370,1437,3,1,0,0,3,11101,4,2,2011,NaN,NaN,NaN,NaN,1,1,0,NaN
4,0,14370,1437,3,1,0,0,4,11101,5,2,2011,NaN,NaN,NaN,NaN,1,0,1,NaN

In [20]:
test.head()

,id,date,wm_yr_wk,wday,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,item_id,dept_id,cat_id,store_id,state_id,sell_price
0,14370,1913,11613,3,4,2016,NaN,NaN,NaN,NaN,0,0,0,1437,3,1,0,0,8.382812
1,14370,1914,11613,4,4,2016,NaN,NaN,NaN,NaN,0,0,0,1437,3,1,0,0,8.382812
2,14370,1915,11613,5,4,2016,NaN,NaN,NaN,NaN,0,0,0,1437,3,1,0,0,8.382812
3,14370,1916,11613,6,4,2016,NaN,NaN,NaN,NaN,0,0,0,1437,3,1,0,0,8.382812
4,14370,1917,11613,7,4,2016,NaN,NaN,NaN,NaN,0,0,0,1437,3,1,0,0,8.382812

In [21]:
test.to_pickle('../data/l_test.pkl')

In [22]:
train.to_pickle('../data/l_train.pkl')

In [23]:
train.shape

(58327370, 20)

In [24]:
test.shape

(853720, 19)